<div class="basic-container">
	<mat-toolbar class="title-toolbar">
		New Smart AML
	</mat-toolbar>
	<mat-toolbar class="menu-bar mat-elevation-z1">
		<span *ngFor="let item of navItem">
      <span *ngIf="item.children && item.children.length > 0">
        <button mat-button  [matMenuTriggerFor]="menu.childMenu">
          {{item.displayName}}
        </button>
        <app-navbar-tree #menu [items]="item.children"></app-navbar-tree>
      </span>s
		<span *ngIf="!item.children || item.children.length === 0">
        <button mat-button color="primary" [routerLink]="item.route">
          {{item.displayName}}
        </button>
      </span>
		</span>
	</mat-toolbar>
</div>